/*by Arafat*/
.full-screen {
    width: 100%;
    height: 100vh;
}


/* by sharifa  */
.form-wrap {
    width: 950px;
}
 h2{
    margin-top: 15px;
}
.box .form-group .form-control[type="text"]{
    width: 75%;
    outline:none;
    border-width: 0px 0px 4px 0px;
    font-size: 12px;
    margin-top: 15px;
}
.box .form-group .form-control[type="email"]{
    width: 75%;
    outline:none;
    border-width: 0px 0px 4px 0px;
    margin-top: 15px;
    font-size: 12px;
}
.box .form-group .form-control[type="password"]{
    width: 75%;
    outline:none;
    border-width: 0px 0px 4px 0px;
    margin-top: 15px;
    font-size: 12px;
}
.form-check{
    margin-top: 15px;
}
.form-group .btn{
    width: 75%;
    margin-top: 15px;
}

